<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>expense</title>

</head>
<body>
    <ul>
      
        {% for expense in exp %}
        <li>
        Name = {{expense.student.name}}
        </li>
        <p>Amount = {{expense.amount}}</p>
        <p>Created-at = {{expense.created_at |timesince}} ago</p>
        {% endfor %}
        <p>Total = {{total}}</p>
        <p id="name">{{name}} </p>
        <p id='data'>{{data}}</p>
        <!-- {% for i in name %}
        {{i}}
        {% endfor %} -->

    </ul>
    <canvas id="barChart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

    <script>
        var name = "{{name}}"
        name_split = name.split(",")
        console.log(typeof(name_split))
        console.log("name_split = " + name_split)


        // function clean(obj) {
        //     for (var propName in obj) {
        //         if (obj[propName] === null) {
        //             delete obj[propName];
        //         }
        //     }
        //     return obj
        // }
        // console.log(clean(name_split))
        // var myJSON = JSON.stringify(name_split);
        // console.log(typeof(myJSON))
        // console.log(myJSON)

        // var filter_name_split = myJSON.filter(function(el){
        //     return el != null
        // })
        // console.log(filter_name_split)
        // for(i=0; i<=name_split.length; i++){
        //     name_split[i] = name_split[i].replace(/^\s*/, "").replace(/\s*$/, "")
        //     console.log(name_split[i])
        //     console.log(typeof(name_split[i]))
        // }
            
        var chart = document.getElementById('barChart');
        // for(i = 0; i < mylist.length; i++){
        //     alert(mylist[i])
        // };


        // var name1 = '{{name1}}';
        // var name2 = '{{name2}}';
        // var name3 = '{{name3}}';
        // var name4 = '{{name4}}';
        var myPieChart = new Chart(chart, {
        
        type: 'pie',
        data: {
            labels : {{name|safe}},
            // labels : {{name}},

            datasets : [
                {
                    label:'Student',
                    backgroundClolor:["Red","Yellow", 'Green', 'Blue'],
                    data:{{data|safe}}
                }
            ]
        },
        });
        // console.log(typeof(myPieChart))
    
    </script>
</body>
</html>