<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
</head>
<body>
    <h1>Home Page</h1>
    <a href="{% url 'student_app:expense' %}">All Expenses</a>
    {% for student in stud %}
    <h2><a href="{% url 'student_app:student_detail' student.id %}">{{student.name}}</a></h2>
    {% endfor %}
</body>
</html>